body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-size: 14px;
}

.titulo {
    font-weight: bold;
    font-size: 1.5em;
}

.bg_verde {
    background-color: #269a14;
}
.blanco{
    background-color: whitesmoke;
}
.sinmargen{
    margin:0;
}
.textonegro{
    color: black;
}
.maxwidth{
    width:100%;
}
.inline{
    display: inline-block;
}

.alturaimagen{
    height: 100%;
}

.nav-item:hover {
    background-color: #39ff18;
}
.nav-item a {
    color: white;
}
nav-item {
    color: black !important;
}
.navegacion{
    background-color:white;
    border:none;
}

h1, h2, h3, h4, h5, h6 {
    color: #269a14;
}

.idioma{
    float:right;
}
#logo{
    display:inline-block;
    width:40%;
}
#barra_navegacion a:hover {
    color: #269a14;
    text-shadow: 0 0 15px #39ff18;
}
#barra_navegacion .nav-item a {
    color: white;
    text-shadow: 0 0 2px #39ff18;
}

.input-chiquitillo {
    width: 80px !important;
}

.sp-card {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
    padding: 10px !important;
}

.sp-card-img-container {
    width: 100%;
    padding-top: 100%;
    position: relative;
}

    .sp-card-img-container div {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

.sp-card-img {
    width: 100%;
    height: 100%;
    border-radius: 32px;
    object-fit: cover;
}

    .sp-card-img:hover {
        border: solid 2px #269a14;
        cursor: pointer;
    }

.sp-card-name {
    margin: 12px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

.sp-card-info {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.sp-card-rate {
    padding-right: 16px;
    color: #303030;
    font-size: 22px;
}

.sp-card-rate-star {
    color: #ff8a00;
    font-size: 18px;
}

.sp-card-price {
    color: #f60;
    font-size: 22px;
}

.sp-card-price-grey {
    font-size: 14px;
    color: #505050;
}


.colotitulo {
    color: white !important;
    font-size: 32px;
}

.img-prods {
    width: 300x;
    height: 300px;
    border-radius: 32px;
}

.color-specs-prod {
    color: #FF5733;
    font-size: 20px;
    font-weight: bold;
}
