@model System.Collections.Generic.IList<SuperPet.Models.Categoria>
<hr class="submenu_hr">
<div class="submenu">
    <ul>
        @{ 
            foreach (var item in Model)
            {
                String aux = item.NombreCat;
                <li class="nav-item col-sm-1">@Html.ActionLink(aux, "PorCategoria", new { id = item.id})</li>
            }
        }
    </ul>
</div>